/* styles.css */

/* Estilos para el formulario de contacto */
form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Otros estilos y ajustes según tus necesidades */
  
  /* Estilos para las tarjetas de pregunta */
.question-card {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 5px; /* Agrega espaciado interno */
    margin-bottom: 5px; /* Añade espacio entre las tarjetas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Estilos al pasar el mouse sobre las tarjetas */
.question-card:hover {
  background-color: #99c2ff;
}



/* styles.css */

/* Estilo para las preguntas */
/* Estilo para las preguntas */
.questions {
  border: 2px solid #3498db; /* Borde azul */
  padding: 10px;
  margin-bottom: 20px;
  width: 70%; /* Reducir el ancho del recuadro */

}

/* Estilo para el título de las secciones */
.questions p b {
  color: #3498db; /* Texto azul */
  font-size: 18px;
}

/* Estilo para las listas */
.questions ul {
  list-style-type: none; /* Quita los puntos de la lista */
  padding-left: 10px; /* Agrega un espacio a la izquierda para tabular */
  padding-right: 10px; /* Agrega un espacio a la izquierda para tabular */
}

/* Estilo para los elementos de la lista */
.questions li {
  font-style: italic; /* Aplica estilo cursiva */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

/* Estilo para la información adicional */
.additional-info {
  border-top: 2px solid #3498db; /* Borde superior azul */
  padding-top: 20px; /* Espacio superior */
}

/* Estilo para los puntos fuertes en la información adicional */
.additional-info strong {
  color: #3498db; /* Texto azul */
}


body {
  margin: 20px; /* Espacio entre el borde de la página y el contenido */
  font-family: Arial, sans-serif;
}

.texto {
  margin-bottom: 5px; /* Espacio entre el texto y los cuadros */
}

.cuadro {
  border: 1px solid #000;
  padding: 5px; /* Espacio dentro del cuadro */
  margin-bottom: 5px; /* Espacio entre los cuadros */
}

.blue-line {
    border: none;
    height: 20px;
    background-color: DodgerBlue;
}

.blue-line {
  border: none;
  background-color: DodgerBlue;
  color: DodgerBlue;
  height: 3px;
  width: 100%;
  margin: 20px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.chart {
  width: 100%;
  height: 200px;
}
