<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </div>
        <div class="title">
            <h1>Bienvenido a Mi Página</h1>
            <p>Una descripción breve sobre lo que encontrarás aquí.</p>
        </div>
    </header>

    <main>
        <div>
            <h2>Tabla de Datos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <!-- Agrega más encabezados según tu tabla -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>30</td>
                        <!-- Agrega más datos aquí -->
                    </tr>
                    <!-- Agrega más filas y datos según tu tabla -->
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>Derechos Reservados &copy; 2023</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
