<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css"> <!-- Vincula tu archivo CSS externo -->
</head>
<body>
    <section class="content">
        <p>
            El Tecnólogo en Supervisión en Sistemas de <span class="blue">Agua</span> y <span class="orange">Saneamiento</span> tiene como propósito principal abordar los desafíos del Objetivo de Desarrollo Sostenible número 6 [ODS 6 - Clean Water And Sanitation], que se centra en garantizar la <span class="blue">disponibilidad</span> y la gestión sostenible del <span class="blue">agua</span> y el <span class="orange">saneamiento</span> para todos. Este programa se enfoca en proporcionar las habilidades necesarias para <span class="blue">supervisar</span>, <span class="blue">gestionar</span> y <span class="blue">mantener</span> sistemas de <span class="blue">agua</span> y <span class="orange">saneamiento</span>, contribuyendo así al desarrollo de comunidades sostenibles y al logro de un acceso equitativo y seguro al <span class="blue">agua</span> potable y servicios sanitarios adecuados.
        </p>
    </section>
</body>
</html>


